
main section {
    color: #fff;
    margin-bottom: 1rem;
}

main h1 {
    padding: 1rem 0;
    text-align: center;
}

[class*="col-"] {
    min-height: 3rem;
    border: 1px solid #fff;
    background-color: #006cfa;
}

.padding {
    padding: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#green {
    background-color: #01e165;
    border: 1px solid #006cfa;
}
    
